body{
    margin : 0px;
    padding : 0px;
    background-color: aqua;
    text-align: center;
}

#word-div {
    display: inline-flex
}

.word{
    margin-right: 1.5rem;
}

.hidden{
    display: none;
}

.disabled{
    pointer-events: none;
    background-color: darkgrey;
}